doctype html
html(xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" xml:lang="pt-br")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Bootstrap 3, from LayoutIt!
    meta(name='description', content='Source code generated using layoutit.com')
    meta(name='author', content='LayoutIt!')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    script(src='../amcharts/amcharts.js', type='text/javascript')
    script(src='../amcharts/serial.js', type='text/javascript')
    script(src='../js/jquery.min.js', type='text/javascript')
    script(src='../js/grafico.js', type='text/javascript')
    script(src='../js/table.js', type='text/javascript')
    script(src='../amcharts/themes/light.js', type='text/javascript')
    script(src='../amcharts/pie.js', type='text/javascript')    
    script.
      $(function() {
      var data = '#{chartData}';
      data2 = data.replace(/&quot;/g,'"');
      	
      var data_graf2 = '#{chartData2} ';
      data_graf22 = data_graf2.replace(/&quot;/g,'"');
      
      var data_graf3 = '#{chartData3} ';
      data_graf33 = data_graf3.replace(/&quot;/g,'"');
	    
      AmCharts.makeChart("chartdiv",
      {
      "dataTableId" : "table1",
      "type": "serial",
      "categoryField": "dia",
      "startDuration": 1,
      "columnSpacing": 10,
      "columnWidth": 0.63,
      "theme": "light",
      "categoryAxis": {
      "title": "Dia da semana",
      "gridPosition": "start"
      },
      "trendLines": [],
      "graphs": [
      {
      "balloonText": "[[title]] of [[category]]:[[value]]",
      "fillAlphas": 1,
      "id": "AmGraph-1",
      "title": "Vendas do dia (R$) ",
      "type": "column",
      "valueField": "valor_total"
      },
      ],
      "guides": [],
      "valueAxes": [
      {
      "id": "ValueAxis-1",
      "title": "Valor"
      }
      ],
      "allLabels": [],
      "balloon": {},
      "legend": {
      "useGraphSettings": true
      },
      "titles": [
      {
      "id": "Title-1",
      "size": 15,
      "text": "Vendas da Semana"
      }
      ],
      "dataProvider": JSON.parse(data2)
      });
      
      //gráfico 2
      AmCharts.makeChart("chartdiv2",
      {
      "dataTableId" : "table2",
      "type": "serial",
      "categoryField": "mes",
      "startDuration": 1,
      "theme":"light",
      "categoryAxis": {
      "title": "Mês do ano",
      "gridPosition": "start"
      },
      "trendLines": [],
      "graphs": [
      {
      "balloonText": "[[title]] of [[category]]:[[value]]",
      "bullet": "round",
      "id": "AmGraph-2",
      "title": "Vendas do mês (R$)",
      "valueField": "valor_total"
      },
      ],
      "guides": [],
      "valueAxes": [
      {
      "id": "ValueAxis-2",
      "title": "Vendas"
      }
      ],
      "allLabels": [],
      "balloon": {},
      "legend": {
      "useGraphSettings": true
      },
      "titles": [
      {
      "id": "Title-2",
      "size": 15,
      "text": "Vendas por Mês"
      }
      ],
      "dataProvider": JSON.parse(data_graf22)
      }
      );
      
      //gráfico3 
      AmCharts.makeChart("chartdiv3",
      {
      "dataTableId" : "table2",      
      "type": "pie",
      "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
      "titleField": "tipo_caixa",
      "valueField": "porcentagem",
      "theme": "light",
      "allLabels": [],
      "balloon": {},
      "legend": {
      "align": "center",
      "markerType": "circle"
      },
      "titles": [],
      "dataProvider": JSON.parse(data_graf33)
      }
      );         

      
      });
  body
    .container-fluid
      .row
        .col-md-12
          h3
            | Rapid Graphs - Retail Lab SMS 
          ul.nav.nav-tabs
            li.active
              a(href='') Vendas
            li
              a(href='funcionario.jade') Funcionário
            li
              a(href='produto.jade') Produtos
            li
              a(href='fornecedor.jade') Fornecedor
            li
              a(href='gastos.jade') Gastos
            li.pull-right
              b Logout 
              
      .row
        .col-md-6
          #tabs-299474.tabbable 
            ul.nav.nav-tabs
              li.active
                a(href='#panel-504847', data-toggle='tab') Vendas - Semana
              li
                a(href='#panel-294147', data-toggle='tab') Vendas - Mês
              li
                a(href='#panel-804147', data-toggle='tab') Vendas - Caixas
            .tab-content
              #panel-504847.tab-pane.active
               #chartdiv
               #table1
                p
              #panel-294147.tab-pane
               #chartdiv2              
               #table2
                p
              #panel-804147.tab-pane
               #chartdiv3
               #table3
               
    footer(style="background : #999; width :100%; height: 50px; font-family:'Verdana'; color:white; margin-top: 100px")
      p Criado por : Grupo ESPM
      p Contato : E-mail  Facebook  Telefone: xxxx-xxxx
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/scripts.js')
