doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title Bootstrap 3, from LayoutIt!
    |     
    meta(name='description', content='Source code generated using layoutit.com')
    |     
    meta(name='author', content='LayoutIt!')
    |     
    link(href='css/bootstrap.min.css', rel='stylesheet')
    |     
    link(href='css/style.css', rel='stylesheet')
    |   
  body
    .container-fluid
      .row
        .col-md-12
          h3
            | Bem vindo.
          | &#x9;&#x9;&#x9;
          ul.nav.nav-tabs
            li.active
              a(href='#') Home
            | &#x9;&#x9;&#x9;&#x9;
            li
              a(href='#') Profile
            | &#x9;&#x9;&#x9;&#x9;
            li.disabled
              a(href='#') Messages
            | &#x9;&#x9;&#x9;&#x9;
            li.dropdown.pull-right
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Dropdown
                strong.caret
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              ul.dropdown-menu
                li
                  a(href='#') Action
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='#') Another action
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='#') Something else here
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li.divider
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='#') Separated link
      | &#x9;
      .row
        .col-md-6
          table.table.table-bordered
            thead
              tr
                th
                  | #
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                th
                  | Product
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                th
                  | Payment Taken
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                th
                  | Status
            | &#x9;&#x9;&#x9;&#x9;
            tbody
              tr
                td
                  | 1
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                td
                  | TB - Monthly
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                td
                  | 01/04/2012
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                td
                  | Default
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              tr.active
                td
                  | 1
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                td
                  | TB - Monthly
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                td
                  | 01/04/2012
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                td
                  | Approved
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              tr.success
                td
                  | 2
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                td
                  | TB - Monthly
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                td
                  | 02/04/2012
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                td
                  | Declined
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              tr.warning
                td
                  | 3
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                td
                  | TB - Monthly
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                td
                  | 03/04/2012
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                td
                  | Pending
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              tr.danger
                td
                  | 4
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                td
                  | TB - Monthly
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                td
                  | 04/04/2012
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                td
                  | Call in to confirm
        | &#x9;&#x9;
        .col-md-6
          #tabs-299474.tabbable
            ul.nav.nav-tabs
              li.active
                a(href='#panel-504847', data-toggle='tab') Section 1
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='#panel-294147', data-toggle='tab') Section 2
            | &#x9;&#x9;&#x9;&#x9;
            .tab-content
              #panel-504847.tab-pane.active
                p
                  | I&apos;m in Section 1.
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              #panel-294147.tab-pane
                p
                  | Howdy, I&apos;m in Section 2.
    |     
    script(src='js/jquery.min.js')
    |     
    script(src='js/bootstrap.min.js')
    |     
    script(src='js/scripts.js')
