doctype html
html(xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" xml:lang="pt-br")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Bootstrap 3, from LayoutIt!
    meta(name='description', content='Source code generated using layoutit.com')
    meta(name='author', content='LayoutIt!')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    script(src='../amcharts/amcharts.js', type='text/javascript')
    script(src='../amcharts/serial.js', type='text/javascript')
    script(src='../js/jquery.min.js', type='text/javascript')
    script(src='../js/grafico.js', type='text/javascript')
    script(src='../js/table.js', type='text/javascript')
    
    script.
      $(function() {
      var data = '#{chartData}';
      data2 = data.replace(/&quot;/g,'"');
      	
      var data_graf2 = '#{chartData2} ';
      data_graf22 = data_graf2.replace(/&quot;/g,'"');
	    
      AmCharts.makeChart("chartdiv",
      {
      "dataTableId" : "table1",
      "type": "serial",
      "categoryField": "dia",
      "columnSpacing": 10,
      "columnWidth": 0.63,
      "startDuration": 1,
      "theme": "default",
      "categoryAxis": {
      "title": "Dia da semana",
      "gridPosition": "start"
      },
      "trendLines": [],
      "graphs": [
      {
      "balloonText": "[[title]] of [[category]]:[[value]]",
      "fillAlphas": 1,
      "fillColors": "#7722b9",
      "lineAlpha": 0,
      "id": "AmGraph-1",
      "title": "Valor das vendas (R$) ",
      "type": "column",
      "valueField": "valor_total"
      },
      ],
      "guides": [],
      "valueAxes": [
      {
      "id": "ValueAxis-1",
      "title": "Valor"
      }
      ],
      "allLabels": [],
      "balloon": {},
      "legend": {
      "useGraphSettings": true
      },
      "titles": [
      {
      "id": "Title-1",
      "size": 15,
      "text": "Vendas por Linha de Produto"
      }
      ],
      "dataProvider": JSON.parse(data2)
      });
      
      //gráfico2 
      AmCharts.makeChart("chartdiv2",
      {
      "dataTableId" : "table2",
      "type": "serial",
      "categoryField": "mes",
      "startDuration": 1,
      "columnSpacing": 10,
      "columnWidth": 0.5,
      "theme": "default",
      "categoryAxis": {
      "title": "Área de Produtos",
      "gridPosition": "start"
      },
      "trendLines": [],
      "graphs": [
      {
      "balloonText": "[[title]] of [[category]]:[[value]]",
      "fillAlphas": 1,
      "fillColors": "#7722b9",
      "lineAlpha": 0,
      "id": "AmGraph-1",
      "title": "Valor das vendas (R$)",
      "type": "column",
      "valueField": "valor_total"
      },
      ],
      "guides": [],
      "valueAxes": [
      {
      "id": "ValueAxis-1",
      "title": "Valor"
      }
      ],
      "allLabels": [],
      "balloon": {},
      "legend": {
      "useGraphSettings": true
      },
      "titles": [
      {
      "id": "Title-1",
      "size": 15,
      "text": "Vendas por Área de Produtos"
      }
      ],
      "dataProvider": JSON.parse(data_graf22)
      });
      });
  body
    .container-fluid
      .row
        .col-md-12
          h3
            | Rapid Graphs - Retail Lab SMS 
          ul.nav.nav-tabs
            li
              a(href='/') Vendas
            li
              a(href='funcionario.jade') Funcionário
            li.active
              a(href='') Produtos
            li
              a(href='fornecedor.jade') Fornecedor
            li
              a(href='gastos.jade') Gastos 
            li.pull-right
              b Logout  
            
              
      .row
        .col-md-6
          #tabs-299474.tabbable 
            ul.nav.nav-tabs
              li.active
                a(href='#panel-504847', data-toggle='tab') Vendas - Linha 
              li
                a(href='#panel-294147', data-toggle='tab') Vendas - Área 
            .tab-content
              #panel-504847.tab-pane.active
               #chartdiv
               #table1
                p
              #panel-294147.tab-pane
               #chartdiv2              
               #table2
                p
    footer(style="background : #999; width :100%; height: 50px; font-family:'Verdana'; color:white; margin-top: 100px")
      p Criado por : Grupo ESPM
      p Contato : E-mail  Facebook  Telefone: xxxx-xxxx
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/scripts.js')
